app = "tg-bot-xin710731" # 这个名称必须全局唯一，可以改

kill_signal = "SIGINT"
kill_timeout = 5

[env]
PORT = "8080"

[experimental]
auto_rollback = true

[[services]]
internal_port = 8080
protocol = "tcp"
auto_start_machines = true
auto_stop_machines = true
min_machines_running = 1

[[services.ports]]
port = 8080
handlers = ["http"]
[env]
BOT_TOKEN="8523227582:AAHPOGm5qoTqxSBUliQTewVaiwrvpuu3UVY"
ADMIN_IDS="8000075268"   # ← 管理员放这里

